.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
inputs/MAMMALS_TERRESTRIAL_ONLY/inputs/MAMMALS_TERRESTRIAL_ONLY/
inputs/MAMMALS_TERRESTRIAL_ONLY/
.RDataTmp*

Koobi_fora_updated.R
scripts/old/
.RDataTmp*
